
#info #score {
  position: absolute;
  display: block;
  color: #F8FDFF;
  font-size: 40px;
  font-weight: bold;
  width: 33%;
  height: 100%;
  margin: 0;
  line-height: 40px;
  padding-top: 35px;
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
}

#info #score #score-red {
  color: var(--red-team-deep-color, #B32728);
}

#info #score #score-blue {
  color: var(--blue-team-deep-color, #11779F);
}

#info #turn {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 35px;
  text-align: center;
  line-height: 1.2;
  color: #F8FDFF;
  float: left;
}

#info .red {
  color: var(--red-team-deep-color, #B32728) !important;
}

#info .blue {
  color: var(--blue-team-deep-color, #11779F) !important;
}

#info #clue-display {
  display: block;
  line-height: 1.2;
}

#info #end-turn {
  position: absolute;
  display: block;
  float: right;
  margin-right: 0.5%;
  bottom: 0;
  right: 0;
  width: 19%;
  font-size: 16px;
  background: #323032;
  border: 2px solid #F8FDFF;
  color: #F8FDFF;
  text-decoration: none;
}

#info #end-turn:hover {
  background: #686c6d;
}

#info #end-turn:disabled {
  background: #323032;
  border: 2px solid #686c6d;
  color: #686c6d;
  cursor: default;
}

#clue-form {
  text-align: center;
}

#clue-form #clue-word, #clue-form #clue-count, #clue-form #declare-clue {
  font-size: 16px;
  background: #323032;
  border: 2px solid #F8FDFF;
  color: #F8FDFF;
  text-decoration: none;
}

#clue-form #declare-clue {
  width: 24%;
}

#clue-form #declare-clue:hover {
  background: #686c6d;
}

#clue-form #declare-clue:disabled {
  background: #323032;
  border: 2px solid #686c6d;
  color: #686c6d;
  cursor: default;
}

#board {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
}

#board .row {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

#board .row .tile{
  position: relative;
  display: inline-block;
  width: 19%;
  height: 120px;
  margin: 0.5%;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #F8FDFF;
  font-size: 25px;
  background: #F8FDFF;
  color: #323032;
  vertical-align: top;
  word-wrap: break-word;
  line-height: 1.5;
}

#board .row .tile:hover{
  border-color: #323032;
}

#board .s {
  font-weight: bold;
}

#board .s.r {
  color: var(--red-team-deep-color, #B32728);
  border-color: var(--red-team-light-color, rgb(236, 170, 170));

  background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.4) 21%, rgba(255,255,255,.4) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.4) 21%, rgba(255,255,255,.4) 34%, transparent 35%, transparent) 0 -20px;
  background-color: var(--red-team-light-color, rgb(236, 170, 170));
  background-size: 30px 40px;
}

#board .s.b {
  color: var(--blue-team-deep-color, #11779F);
  border-color: var(--blue-team-light-color, rgb(168, 216, 235));

  background:
    radial-gradient(rgba(255,255,255,.7) 15%, transparent 16%),
    radial-gradient(rgba(255,255,255,.7) 15%, transparent 16%),
    var(--blue-team-light-color, rgb(168, 216, 235));
  background-position: 0 0, 15px 15px;
  background-size:30px 30px;
}

#board .s.d:not(.h):not(.flipped) {
  background-color: #686c6d;
}
#board .s.d:not(.h):not(.flipped):not(:hover) {
  border-color: #686c6d;
}

#board .s.d:not(.h), #board .flipped.d {
  /* skull SVG from http://www.heropatterns.com/ */
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 175.19731,1.670501e-6 -25.83261,10e-14 C 150.3977,2.9244649 151.98112,5.5885982 153.99044,7.8679569 152.14468,9.6822087 151,12.207428 151,15.000002 c 0,5.522847 4.47715,10 10,10 1.65685,0 3,1.343145 3,2.999999 v 4.000001 h 1.5 14.5 V 1.670501e-6 h -4.80269 C 175.70782,0.88252177 176,1.9071402 176,3.0000017 c 0,3.3137085 -2.68629,6 -6,6 -3.31371,0 -6,-2.6862915 -6,-6 C 164,1.9071395 164.29218,0.88252048 164.80269,0 l 10.39462,1.670501e-6 H 161.51212 C 161.18046,0.93833845 161,1.9480954 161,3.0000017 v 3 1 c -4.41828,0 -8,3.5817223 -8,8.0000003 0,4.418278 3.58172,8 8,8 2.76142,0 5,2.238576 5,5 v 2 h 4 v -4 h 2 v 4 h 4 v -4 h 2 v 4 h 2 V 1.670501e-6 h -4.80269 c 0,0 0,0 0,0 z m -15.78325,0 C 159.14433,0.95366526 159,1.9599779 159,3.0000017 v 2.2000362 c -1.24942,0.2536189 -2.41425,0.7401812 -3.44719,1.4123808 C 153.83665,4.6822135 152.45517,2.4477693 151.49941,1.670501e-6 Z M 180,17.000002 h -3 L 179.14286,7.0000017 H 180 Z M 149.3647,180 C 148.4809,177.49792 148,174.80527 148,172 c 0,-13.25483 10.74824,-24 23.99055,-24 H 180 v 32 z m 12.14742,0 c 0.50048,-1.41601 1.34528,-2.66937 2.43378,-3.65951 l -1.34535,-1.47989 v 0 c -1.49884,1.36338 -2.6196,3.13512 -3.18649,5.1394 h -7.91465 C 150.53133,177.5207 150,174.82254 150,172 c 0,-12.15026 9.84059,-22 22.00109,-22 H 180 v 30 z m 13.68519,0 c -1.03743,-1.7934 -2.97646,-3 -5.19731,-3 -2.22085,0 -4.15988,1.2066 -5.19731,3 z M 0,148 H 8.0094505 C 21.259065,148 32,158.74225 32,172 c 0,2.80508 -0.481371,5.49777 -1.365881,8 H 0 Z m 0,2 H 7.9989123 C 20.149777,150 30,159.84707 30,172 c 0,2.82234 -0.530966,5.52054 -1.498639,8 h -7.915426 c -0.566885,-2.00428 -1.687647,-3.77602 -3.186482,-5.1394 l -1.345355,1.47989 c 1.088505,0.99014 1.933298,2.2435 2.433785,3.65951 H 0 Z m 15.197307,30 C 14.159879,178.2066 12.220847,177 10,177 c -2.2208471,0 -4.1598786,1.2066 -5.1973068,3 z M 0,32.000002 H 14.5 16 v -4 c 0,-1.656855 1.343146,-3 3,-3 5.522847,0 10,-4.477153 10,-10 C 29,12.206473 27.854535,9.6804829 26.007671,7.8660973 28.016951,5.5870417 29.600691,2.923513 30.634119,1.6705011e-6 L 0,1.670501e-6 Z m 0,-2 h 2 v -4 h 2 v 4 h 4 v -4 h 2 v 4 h 4 v -2 c 0,-2.761424 2.238576,-5 5,-5 4.418278,0 8,-3.581722 8,-8 0,-4.418278 -3.581722,-8.0000003 -8,-8.0000003 v -1 -3.0000001 C 19,1.9480954 18.819537,0.93833844 18.487883,1.6705007e-6 L 0,1.6705009e-6 Z M 28.501361,1.6705012e-6 C 27.545943,2.4480619 26.164809,4.6828813 24.448683,6.613392 23.415376,5.9406887 22.250023,5.4537792 21,5.2000379 V 3.0000017 C 21,1.9599779 20.855666,0.95366526 20.585935,1.670501e-6 Z M 0,17.000002 H 3 L 0.85714286,7.0000017 H 0 Z M 15.197306,0 C 15.707817,0.88252048 16,1.9071395 16,3.0000017 c 0,3.3137085 -2.686291,6 -6,6 -3.3137085,0 -6,-2.6862915 -6,-6 C 4,1.9071402 4.2921829,0.88252177 4.8026932,1.6705009e-6 l 10.3946188,10e-14 z M 109,115 c -1.65685,0 -3,1.34315 -3,3 v 4 h -1.5 -29 -1.5 v -4 c 0,-1.65685 -1.343146,-3 -3,-3 -5.522847,0 -10,-4.47715 -10,-10 0,-2.79257 1.144683,-5.317791 2.990436,-7.132043 C 60.262014,93.638446 58,88.084103 58,82.000002 c 0,-13.254834 10.748237,-24 23.990549,-24 H 98.00945 c 13.24962,0 23.99055,10.742251 23.99055,24 0,6.082435 -2.26331,11.636397 -5.99233,15.866095 C 117.85454,99.680483 119,102.20647 119,105 c 0,5.52285 -4.47715,10 -10,10 z m 0,-2 c -2.76142,0 -5,2.23858 -5,5 v 2 h -4 v -4 h -2 v 4 h -4 v -4 h -2 v 4 h -4 v -4 h -2 v 4 h -4 v -4 h -2 v 4 h -4 v -2 c 0,-2.76142 -2.238576,-5 -5,-5 -4.418278,0 -8,-3.58172 -8,-8 0,-4.41828 3.581722,-7.999998 8,-7.999998 v -1 -3 c 0,-2.639299 1.136084,-5.013251 2.945902,-6.659508 l -1.345355,-1.47989 v 0 C 70.388547,86.872695 69,89.774192 69,93.000002 v 2.200036 c -1.24942,0.253619 -2.414251,0.740181 -3.447188,1.412381 C 62.098369,92.727141 60,87.609178 60,82.000002 c 0,-12.150265 9.840593,-22 22.001088,-22 h 15.997824 c 12.150868,0 22.001088,9.847064 22.001088,22 0,5.608928 -2.09705,10.727607 -5.55132,14.61339 -1.0333,-0.672703 -2.19866,-1.159613 -3.44868,-1.413354 v -2.200036 c 0,-3.22581 -1.38855,-6.127307 -3.60055,-8.139398 l -1.34535,1.47989 C 107.86392,87.986751 109,90.360703 109,93.000002 v 3 1 c 4.41828,0 8,3.581718 8,7.999998 0,4.41828 -3.58172,8 -8,8 z M 90.857143,97.000002 93,107 h -6 l 2.142857,-9.999998 z m -10.857143,2 c 3.313709,0 6,-2.686292 6,-6 0,-3.313709 -2.686291,-6 -6,-6 -3.313709,0 -6,2.686291 -6,6 0,3.313708 2.686291,6 6,6 z m 20,0 c 3.31371,0 6,-2.686292 6,-6 0,-3.313709 -2.68629,-6 -6,-6 -3.313709,0 -6,2.686291 -6,6 0,3.313708 2.686291,6 6,6 z' fill='white' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 2em;
  background-position-y: 0.7em;
}

#board .flipped.n {
  background: rgb(211, 191, 175) !important;
  border-color: rgb(211, 191, 175);
  color: #F8FDFF;
}

#board .flipped.r {
  border-color: var(--red-team-deep-color, #B32728);
  color: #F8FDFF;

  background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.2) 21%, rgba(255,255,255,.2) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.2) 21%, rgba(255,255,255,.2) 34%, transparent 35%, transparent) 0 -20px;
  background-color: var(--red-team-deep-color, #B32728);
  background-size: 30px 40px;
}

#board .flipped.b {
  border-color: var(--blue-team-deep-color, #11779F);
  background: var(--blue-team-deep-color, #11779F);
  color: #F8FDFF;

  background:
    radial-gradient(rgba(255,255,255,.4) 15%, transparent 16%),
    radial-gradient(rgba(255,255,255,.4) 15%, transparent 16%),
    var(--blue-team-deep-color, #11779F);
  background-position: 0 0, 15px 15px;
  background-size:30px 30px;
}

#board .flipped.d {
  border-color: #000000;
  background-color: #000000 !important;
  color: #F8FDFF !important;
}

#board .tile.s.clueWord {
  border-color: #808000;
  border-width: 0.5ex;
}

#board .tile.s.clueWord:hover {
  border-color: #f0f000;
}

#board .tile .clues {
  top: 0;
  bottom: auto;
}

#board .tile.b .clues {
  background: var(--blue-team-deep-color, #11779F);
  color: var(--blue-team-light-color, rgb(168, 216, 235));
}

#board .tile.r .clues {
  background: var(--red-team-deep-color, #B32728);
  color: var(--red-team-light-color, rgb(236, 170, 170));
}

#board .tile.proposed {
  border-color: #cead00;
  border-width: 0.5ex;
}

#board .tile.proposed:hover {
  border-color: #8a7400;
}

#board .tile .proposals {
  top: auto;
  bottom: 0;
}

#board .tile .tileOverlay {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  width: 100%;
  max-height: 33%;
  font-size: 1em;
  color: white;
}

#board .tile.proposed .proposals.red {
  background-color: var(--red-team-light-color, rgb(236, 170, 170));
}

#board .tile.proposed .proposals.blue {
  background-color: var(--blue-team-light-color, rgb(168, 216, 235));
}


#toggles {
  position: relative;
  font-size: 0;
  width: 100%;
  margin-top: 20px;
}

#toggles .toggle {
  position: relative;
  width: 19%;
  float: left;
  margin: 0.5%;
}

#toggles #new-game {
  position: relative;
  width: 19%;
  right: 0;
  float: right;
  margin: 0.5%;
  font-size: 16px;
  background: #323032;
  border: 2px solid #F8FDFF;
  color: #F8FDFF;
  text-decoration: none;
}

#toggles #new-game:hover {
  background: #686c6d;
}

#toggles .toggle button {
  width: 50%;
  margin: 0;
  font-size: 16px;
  background: #686c6d;
  border: 2px solid #686c6d;
  color: #323032;
  text-decoration: none;
}

#toggles .toggle button:hover {
  background: rgb(139, 139, 139);
}

#toggles .toggle button:disabled {
  background: #323032;
  border: 2px solid #686c6d;
  color: #F8FDFF;
  cursor: default;
  text-decoration: underline;
}

#toggles .toggle button:disabled:hover {
  background: #323032;
  color: #F8FDFF;
}

#log {
  clear: both;
}

#log::before {
  clear: both;
  content: "GAME LOG (newest first):";
  color: #F8FDFF;
  font-weight: bold;
}

#log span {
  display: list-item;
}

#log .declareClue.red{
  font-weight: bold;
  color: var(--red-team-light-color, rgb(236, 170, 170)) !important;
}

#log .declareClue.blue{
  font-weight: bold;
  color: var(--blue-team-light-color, rgb(168, 216, 235)) !important;
}

#log .red {
  color: var(--red-team-deep-color, #B32728);
}

#log .blue {
  color: var(--blue-team-deep-color, #11779F);
}

