/*
Palette:

Black: #323032
Light-Black: #686c6d

Blue: #11779F
Light-Blue: rgb(168, 216, 235)

IND: #4E77B6
Light-IND: rgb(179, 227, 238)

Red: #B32728
Light-Red: rgb(236, 170, 170)

Green: #2EA057
Light-Green: rgb(168, 235, 216)

Yellow: #F9AB36
Light-Yellow: rgb(255,255,150)

AUS: #9ACD32
Light-AUS: rgb(255,255,160)

White: #F8FDFF
Grey: #D6D2C9

*/

:root {
  --blue-team-deep-color : #2EA057;
  --blue-team-light-color : rgb(168, 235, 216);
  --red-team-deep-color : #B32728;
  --red-team-light-color : rgb(236, 170, 170);
}

@media(max-width: 1600px){
  #board .row .tile{
    height: 70px !important;
    font-size: 18px;
  }

  #board .tile .tileOverlay {
    font-size: 0.5em !important;
  }

  #content {
    width: 1300px !important;
  }

  #right {
    position: relative;
    width: 950px !important;
  }

  #space {
    width: 0px !important;
  }
}

@media(max-width: 1300px){

  #app {
    width: 950px !important;
  }
  #content {
    width: 950px !important;
  }

  #left {
    position: relative;
    width: 950px !important;
  }

  #players {
    width: 48% !important;
    margin-right: 2% !important;
    float: left;
  }

  #card-packs {
    width: 48% !important;
    margin-left: 2% !important;
    float: left;
  }

  #card-packs #show-all-card-packs-label {
    display: inline-block !important;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.2;
    background: #686c6d;
    border: 2px solid #686c6d;
    border-radius: 5px;
    color: #323032;
    margin-bottom: 0.7em;
  }

  #card-packs #show-all-card-packs:checked + #show-all-card-packs-label {
    background: #323032;
    color: #F8FDFF;
    text-decoration: underline;
  }

  #card-packs #show-all-card-packs + #show-all-card-packs-label::before {
    content: "⊞ "
  }

  #card-packs #show-all-card-packs:checked + #show-all-card-packs-label::before {
    content: "⊟ "
  }

  #card-packs button {
    display: none;
  }

  #card-packs #show-all-card-packs:checked ~ button {
    display: inline-block;
  }

  #space {
    width: 0px !important;
  }
}

@media (max-width: 1100px) {
  #app {
    display: flex !important;
    flex-direction: column;
    clear: left;
    float: none !important;
    width: auto !important;
  }

  #title {
    text-align: left !important;
    padding: 20px !important;
  }

  #content {
    position: static !important;
    transform: none !important;
    width: auto !important;
  }

  #left {
    float: none !important;
    margin: 40px 20px 0 !important;
    width: auto !important;
  }

  #right {
    float: none !important;
    margin:  0 20px 40px !important;
    width: auto !important;
  }

  #players {
    width: auto !important;
    margin: 0 0 20px !important;
    float: none !important;
  }

  #card-packs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto !important;
    margin: 0 !important;
    float: none !important;
  }

  #card-packs h2 {
    align-self: baseline;
    text-align: left !important;
    width: 50%;
  }

  #card-packs p {
    align-self: baseline;
    text-align: right;
    width: 50%;
  }

  #card-packs button {
    width: 45% !important;
    margin: 0 0 10px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #info {
    margin: 50px 0 0 !important;
  }

  #info #score {
    font-size: 20px !important;
    padding: 0 0 0 20px !important;
  }

  #info #turn {
    float: none !important;
    font-size: 20px !important;
    text-align: center !important;
    margin-right: 120px !important;
    width: auto !important;
  }

  #info #end-turn {
    top: 0 !important;
    bottom: auto !important;
    width: auto !important;
    right: 20px !important;
  }

  #board {
    overflow: hidden;
  }

  #toggles {
    padding-left: 20px;
    order: -1;
    width: auto !important;
  }

  #toggles .toggle:not(#player-difficulty) {
    float: none !important;
    display: inline-block !important;
    width: auto !important;
  }

  #toggles .toggle:not(last-of-type) {
    margin-right: 10px;
  }

  #toggles .toggle button {
    font-size: 14px !important;
    width: auto !important;
  }

  #toggles #new-game {
    margin-top: 20px !important;
    float: none !important;
    width: auto !important;
  }

  #space {
    width: 0px !important;
  }

  #leave-room {
    right: 20px !important;
    margin-top: 70px !important;
  }

  #player-name {
    margin-left: 20px !important;
    margin-top: 70px !important;
  }

  #server-message,
  #afk-window,
  #join-game {
    max-width: 90%;
  }
}

@media (max-width: 750px) {
  #board .row .tile {
    font-size: 14px !important;
    line-height: 1.5;
    hyphens: auto;
    word-wrap: break-word;
    vertical-align: top;
    height: 50px !important;
  }
}


#donate {
  position: absolute;
  top: 0; 
  display: none;
  width: 100vw;
  text-align: center;
  font-size: 14px;
  padding: 1px;
  color: #323032;
  background: #11779F;
  box-sizing: border-box;
  font-weight: bold;
}

#donate.hide {
  display: none;
}

#donate-link {
  color: #bbbbbb;
  text-decoration: none;
}

#donate-link:hover {
  color: #bbbbbb;
  text-decoration: underline;
}

#donate-hide {
  color: #1b1b1b;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  margin-left: 4px;
}

#app {
  position: relative;
  display: block;
  float: left;
  width: 1000px;
}

#info {
  position: relative;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}

body {
  margin: 0;
  margin-top: 32px;
  background: #323032;
  color: #323032;
  font-family: 'Changa', sans-serif;
}

* {
  transition: 0.1s ease-in-out;
  z-index: 1;
}

.above {
  z-index: 3 !important;
}

#about-button {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  border: 2px solid #F8FDFF;
  background: #323032;
  color: #F8FDFF;
  font-size: 16px;
}

#about-button.open {
  color: #323032;
  background: #F8FDFF;
}

#about-button:hover {
  background: #686c6d;
}

#about-window {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background: #F8FDFF;
  top: 20px;
  border-radius: 10px;
  margin-bottom: 200px;
}

#about-window ul {
  position: relative;
  list-style: square !important;
  padding: 50px;
  padding-top: 0;
  margin-top: 0;
}

#about-window h2 {
  text-align: center;
}

#about-window h3 {
  text-align: center;
}

#about-window a {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #323032;
}

#about-window a:hover {
  color: #11779F;
}

#server-message {
  position: fixed;
  display: none;
  width: 400px;
  background: #F8FDFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 10px;
}

#server-message h3 {
  text-align: center;
}

#server-message button {
  position: relative;
  margin: 2%;
  border-radius: 3px;
  border: 2px solid #686c6d;
  box-sizing: border-box;
  padding: 4px;
  width: 96%;
  font-size: 16px;
  background: #686c6d;
  color: #F8FDFF;
}

#server-message button:hover {
  background: #11779F;
}

#afk-window {
  position: fixed;
  display: none;
  width: 400px;
  background: #F8FDFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 10px;
}

#afk-window h3 {
  text-align: center;
}

#afk-window button {
  position: relative;
  margin: 2%;
  border-radius: 3px;
  border: 2px solid #686c6d;
  box-sizing: border-box;
  padding: 4px;
  width: 96%;
  font-size: 16px;
  background: #686c6d;
  color: #F8FDFF;
}

#afk-window button:hover {
  background: #11779F;
}

#overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgb(60,60,60, 0.9);
  z-index: 2 !important;
}

#join-game {
  position: absolute;
  width: 400px;
  background: #F8FDFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

#join-game h1{
  color: #323032;
  font-size: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
}

#join-game .join-input {
  display: block;
  width: 275px;
  margin: 0 auto;
  text-align: left;
}

#join-game .join-input input{
  float: right;
  line-height: 18px;
}

#join-game button {
  position: relative;
  margin: 1%;
  border-radius: 3px;
  border: 2px solid #686c6d;
  box-sizing: border-box;
  padding: 4px;
  width: 48%;
  font-size: 16px;
  background: #686c6d;
  color: #F8FDFF;
}

#join-game #join-enter {
  float: left;
}

#join-game #join-enter:hover {
  background: #B32728;
}

#join-game #join-create:hover {
  background: #11779F
}

#join-game #error-message {
  height: 15px;
  text-align: center;
  margin-top: 5px;
}

button {
  cursor: pointer;
  font-family: 'Changa', sans-serif;
  border-radius: 3px !important;
  border-style: solid;
}

#leave-room {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  border: 2px solid #F8FDFF;
  background: #323032;
  color: #F8FDFF;
  font-size: 16px;
}

#player-name {
  position: absolute;
  margin-left: 150px;
  margin-top: 20px;
  background: #323032;
  color: #F8FDFF;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#leave-room:hover {
  background: #686c6d;
}

#title {
  text-align: center;
  padding: 10px;
}

#title h1 {
  color: #F8FDFF;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#title #room-name {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #F8FDFF;
}

#left {
  position: relative;
  width: 200px;
  margin-right: 50px;
  margin-top: 95px;
  float: left;
}

#right {
  position: relative;
  width: 200px;
  margin-left: 50px;
  margin-top: 95px;
  float: left;
}

#content {
  position: absolute;
  width: 1500px;
  left: 50%;
  transform: translateX(-50%)
}

#players {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

#players #panel{
  position: relative;
  width: 100%;
  background: #F8FDFF;
  border: 2px solid #F8FDFF;
  border-radius: 10px;
  box-sizing: border-box;
}

#players h2 {
  color: #F8FDFF;
  text-align: center;
  margin: 0;
}

#players #panel .join-team {
  text-transform: capitalize;
  position: relative;
  width: 46%;
  margin: 2%;
  box-sizing: border-box;
  padding: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #F8FDFF;
}
#players #panel .join-team:hover {
  background: #323032 !important;
}

#players #panel #join-red{
  border: 2px solid var(--red-team-deep-color, #B32728);
  float: left;

  background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.2) 21%, rgba(255,255,255,.2) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.2) 21%, rgba(255,255,255,.2) 34%, transparent 35%, transparent) 0 -20px;
  background-color: var(--red-team-deep-color, #B32728);
  background-size: 30px 40px;
}

#players #panel #join-red:hover {
  color: var(--red-team-deep-color, #B32728);

  background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.05) 21%, rgba(255,255,255,.05) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.05) 21%, rgba(255,255,255,.05) 34%, transparent 35%, transparent) 0 -20px !important;
  background-color: #323032 !important;
  background-size: 30px 40px !important;
}

#players #panel #join-blue{
  border: 2px solid var(--blue-team-deep-color, #11779F);

  background:
    radial-gradient(rgba(255,255,255,.4) 15%, transparent 16%),
    radial-gradient(rgba(255,255,255,.4) 15%, transparent 16%),
    var(--blue-team-deep-color, #11779F);
  background-position: 0 0, 15px 15px;
  background-size:30px 30px;
}

#players #panel #join-blue:hover {
  color: var(--blue-team-deep-color, #11779F);

  background:
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 16%),
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 16%),
    #323032 !important;
  background-position: 0 0, 15px 15px !important;
  background-size:30px 30px !important;
}

#players #panel #join-observers{
  width: 96% !important;
  border: 2px solid #DDDDDD;
  background: #DDDDDD;
  color: #222222;
}

#players #panel #join-observers:hover {
  color: #DDDDDD;
}

#players #panel #randomize-teams{
  position: relative;
  width: 96%;
  margin: 2%;
  border: 2px solid #686c6d;
  box-sizing: border-box;
  padding: 4px;
  font-size: 16px;

  color: #F8FDFF;
  background: #686c6d;
}

#players #panel #randomize-teams:hover {
  background: #323032;
}

#players #panel ul{
  display: inline-block;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 3px;
  color: #323032;
  padding: 3px;
  box-sizing: border-box;
  text-align: center;
}

#players #panel #undefined-list {
  width: 100%;
}

#players #panel #overall-score-red {
  width: 50%;
  text-align: center;
  float: left;
  color: var(--red-team-deep-color, #B32728);
}

#players #panel #overall-score-blue {
  width: 50%;
  text-align: center;
  float: left;
  color: var(--blue-team-deep-color, #11779F);
}

#players #panel #red-team {
  width: 50%;
  float: left;
  color: var(--red-team-deep-color, #B32728);
}

#players #panel #blue-team {
  width: 50%;
  text-align: center;
  color: var(--blue-team-deep-color, #11779F);
}

#players #panel #observers-list {
  width: 100%;
  text-align: center;
  color: #222222;
}

#players #panel .guess-proposal {
  font-size: 0.8em;
  line-height: 1;
  padding-bottom: 0.5em;
  display: block;
}
#players #panel .guess-proposal::before {
  content: " (";
}
#players #panel .guess-proposal::after {
  content: "?)";
}

#card-packs {
  position: relative;
  width: 100%;
  margin: 0;
}

#card-packs h2 {
  color: #F8FDFF;
  text-align: center;
  margin: 0;
  line-height: 20px;
}

#card-packs p {
  color: #F8FDFF;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

#card-packs button {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  border: 2px solid #F8FDFF;
  color: #F8FDFF;
  background: #323032;
  font-size: 16px;
  box-sizing: border-box;
}

#card-packs button.enabled {
  background: #F8FDFF;
  color: #323032;
  font-weight: bold;
  display: inline-block !important;
}

#card-packs button:hover {
  background: #686c6d;
}

#card-packs #custom-word-list {
  display: none;
  width: 100%;
  min-height: 10em;
}

#card-packs #custom-pack.enabled + #custom-word-list {
  display: inline-block;
}

#card-packs #show-all-card-packs-label {
  display: none;
}

#card-packs #show-all-card-packs {
  display: none;
}

#controls {
  position: relative;
  width: 100%;
}

#controls label {
  color: #F8FDFF;
}

#controls input {
  width: 100%;
  margin: 0;
}

#space {
  position: relative;
  width: 250px;
}

#players #panel #color-scheme-red, #players #panel #color-scheme-blue{
  width: 50%;
  position: relative;
  float: left;
}

.box{
  width:20px;
  height:20px;
  margin: 2%;
  box-sizing: border-box;
  padding: 4px;
  border: 2px solid;
}

#players #panel #color-scheme-red > button {
  float: left;
}

#players #panel #color-scheme-blue > button {
  float: right;
}
